{% extends "base.html.twig" %}

{% block title %}
    Créer votre annonce
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Crée une nouvelle annonce</h1>
    </div>
{% endblock %}