{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container">
        <h1>Désolé cette page n'existe pas !</h1>
        <p>Mauvaise adresse ! Retournez a nos annonces sans plus attendre !</p>

        <a href="{{ path("ad_index")}}" class="btn btn-success">Nos annonces</a>
        <a href="{{ path("homepage")}}" class="btn btn-primary">Accueil</a>
    </div>
{% endblock %}